<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>

    <% for(var x=0;x<userSecrets.length;x++){%>
    <% for(var y=0;y<userSecrets[x].secret.length;y++){%>
      <% console.log(currentID +" this is the current" + userSecrets[x]._id);%>
    <% if(userSecrets[x]._id.equals(currentID)){%>
        <div class="secret-text-currentuser">
      <form style="display:inline-block;" action="/delete" method="post">
      <input  type="submit" value="Delete">
  <input type="hidden" name="checkbox"  value="<%=userSecrets[x].secret[y]._id %>">
      <input type="hidden" value="<%=userSecrets[x]._id %>" name="userID">
        </form>
      <p style="display:inline-block;" class="secret-text-currentuser">
        <%=userSecrets[x].secret[y].secretString %>
      </p>
      <form style="display:inline-block;" action="/update" method="post">
        <input type="submit" value="Update">

      <input type="hidden" value="<%=userSecrets[x].secret[y]._id %>" name="secretID">
        <input type="hidden" value="<%=userSecrets[x].secret[y].secretString%>" name="secret">
        </form>

        </div>
      <p style="visibility:hidden;">
        </p>

    <%  }else{ %>
    <p class="secret-text">
      <%=userSecrets[x].secret[y].secretString %>
    </p>

    <%}%>
    <%}%>
    <%}%>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
